<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações Sala - ADMIN</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <script th:inline="javascript">
        window.onload = function verificacao() {
            var id = /*[[${id}]]*/ "id";
            var erro = /*[[${erro}]]*/ "erro";

            if (erro == "Código de equipamento já existente na sala!") {

                document.getElementById("erroAddEq").innerHTML = erro;
                document.getElementById("disable_tela").style.display = "block";
                document.getElementById("addEquipamento").style.display = "block";
            } else if (erro == "Dados da sala incompletos!") {
                document.getElementById("erroeditSala").innerHTML = erro;
                document.getElementById("disable_tela").style.display = "block";
                document.getElementById("editarSala").style.display = "block";
            }
        }


        function addEq() {

            if (document.getElementById("addEquipamento").style.display == "block") {
                document.getElementById("disable_tela").style.display = "none";
                document.getElementById("addEquipamento").style.display = "none";
                document.getElementById("codigoAddEquipamento").value = "";
                document.getElementById("descricaoAddEquipamento").value = "";
            } else {
                document.getElementById("disable_tela").style.display = "block";
                document.getElementById("addEquipamento").style.display = "block";
            }
        }

        function editarSala() {
            if (document.getElementById("editarSala").style.display == "block") {
                document.getElementById("disable_tela").style.display = "none";
                document.getElementById("editarSala").style.display = "none";
            } else {
                document.getElementById("disable_tela").style.display = "block";
                document.getElementById("editarSala").style.display = "block";
            }
        }

        function apagarSala() {
            if (document.getElementById("apagarSala").style.display == "block") {
                document.getElementById("disable_tela").style.display = "none";
                document.getElementById("apagarSala").style.display = "none";
            } else {
                document.getElementById("disable_tela").style.display = "block";
                document.getElementById("apagarSala").style.display = "block";
            }
        }

        function displayAll() {
            document.getElementById("disable_tela").style.display = "none";
            document.getElementById("addEquipamento").style.display = "none";
            document.getElementById("editarSala").style.display = "none";
            document.getElementById("apagarSala").style.display = "none";
            document.getElementById("editarEquipamento").style.display = "none";
            document.getElementById("apagarEquipamento").style.display = "none";
            document.getElementsByClassName("form-control").innerHTML = "";
        }

        function apagarEq(id) { //apagarEquipamento
            if (document.getElementById("apagarEquipamento").style.display == "block") {
                document.getElementById("disable_tela").style.display = "none";
                document.getElementById("apagarEquipamento").style.display = "none";
            } else {
                document.getElementById("infoDeleteEq").innerHTML = "Você tem certeza que deseja apagar o equipamento?";
                document.getElementById("idDeleteEq").value = id;
                document.getElementById("disable_tela").style.display = "block";
                document.getElementById("apagarEquipamento").style.display = "block";
            }
        }
    </script>
    <style>
        .a {
            background-color: red;
        }

        .b {
            background-color: green;
        }

        .nav-button:hover {
            background-color: rgb(25, 41, 212);
        }

        .init {
            padding-top: 100px;
        }

        .equipamento {
            height: 60px;
            border: 1px solid black;
            border-radius: 6px;
        }

        .btn_option {
            width: 200px;
        }

        #disable_tela {
            background-color: rgba(0, 0, 0, 0.48);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: none;
        }

        .erro {
            color: red;
        }
    </style>

</head>

<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid ">
            <span class="navbar-brand mb-0 h1">Reserva de Sala</span>
            <div class="justify-content-end col-3">
                <ul class="navbar-nav row">
                    <li class="nav-item col-auto align-items-center nav-button">
                        <a class="nav-link active" aria-current="page"
                            href="http://localhost:8080/sala/pageSalasAdmin">Salas</a>
                    </li>
                    <li class="nav-item col-auto nav-button">
                        <a class="nav-link active" aria-current="page"
                            href="http://localhost:8080/reserva/pageReservasAdmin">Reservas</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-end">
            <div class="col-4 init">
                <div style="text-align: center;">
                    <h2 th:text="${sala.nome}"></h2>
                    <hr>
                </div>
                <table>
                    <tr>
                        <td><b>Local:</b></td>
                        <td th:text="${sala.local}"></td>
                    </tr>
                    <tr>
                        <td><b>Andar:</b></td>
                        <td th:text="${sala.andar}"></td>
                    </tr>
                    <tr>
                        <td style="width: 100px;"><b>Descrição:</b></td>
                        <td th:text="${sala.descricao}"></td>
                    </tr>
                </table>
                <hr>
                <div class="row justify-content-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" style="width: 300px;">Descricao</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="e : ${equipamentos}">
                                <td scope="row" th:text="${e.codigo}"></td>
                                <td th:text="${e.descricao}"></td>
                                <td><button class="btn btn-danger"
                                        th:onclick="'apagarEq('+ ${e.id} + ')'">Apagar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-4" style="padding-top: 20px;">
                <div class="col-12">
                    <button class="btn btn-success btn_option" onclick="addEq()">Adicionar Equipamento</button>
                </div>
                <div class="col-12" style="padding-top: 10px;">
                    <button class="btn btn-primary btn_option" onclick="editarSala()">Editar Sala</button>
                </div>
                <div class="col-12" style="padding-top: 10px;">
                    <button class="btn btn-danger btn_option" onclick="apagarSala()">Apagar Sala</button>
                </div>
            </div>
        </div>
    </div>

    <div id="disable_tela" style="display: none;" onclick="disableAll()">
        <div id="addEquipamento" style="display: none;">
            <div class="col-12 row justify-content-center align-items-center vh-100">
                <div class="col-auto">
                    <form class="p-4 p-md-5 border rounded-3 bg-light" action="#"
                        th:action="@{/equipamento/addEquipamento}" method="post">
                        <div class="row justify-content-center align-items-center mb-3">
                            <div class="col-auto">
                                <h3>Cadastro de Equipamento</h3>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="codigoAddEquipamento" type="text" class="form-control" placeholder="Código"
                                name="codigo">
                            <label for="inputCodigo">Código</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="descricaoAddEquipamento" type="text" class="form-control" placeholder="Descrição"
                                name="descricao">
                            <label for="inputEmail">Descrição</label>
                        </div>
                        <div class="form-floating mb-3" style="display: none;">
                            <input type="text" class="form-control" name="sala" th:value="${sala.id}">
                        </div>
                        <div class="form-floating mb-3">
                            <p id="erroAddEq" class="erro"></p>
                        </div>
                        <button class="w-100 btn btn-lg btn-success mb-3" type="submit">Cadastrar</button>
                        <div class="w-100 btn btn-lg btn-primary" onclick="addEq()">Voltar</div>
                    </form>
                </div>
            </div>
        </div>

        <div id="editarSala" style="display: none;">
            <div class="col-12 row justify-content-center align-items-center vh-100">
                <div class="col-6">
                    <form class="p-4 p-md-5 border rounded-3 bg-light" th:action="@{/sala/attSala}" th:object="${sala}"
                        method="post">
                        <div class="row justify-content-center align-items-center mb-3">
                            <div class="col-auto">
                                <h3>Editar Sala</h3>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="nomeSala" type="text" class="form-control" placeholder="Nome da Sala" name="nome"
                                th:value="${sala.nome}">
                            <label for="inputNome">Nome da Sala</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="localSala" type="text" class="form-control" placeholder="Local" name="local"
                                th:value="${sala.local}">
                            <label for="inputLocal">Local</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="andarSala" type="text" class="form-control" placeholder="Andar" name="andar"
                                th:value="${sala.andar}">
                            <label for="inputAndar">Andar</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="descricaoSala" type="text" class="form-control" placeholder="Descrição"
                                name="descricao" th:value="${sala.descricao}">
                            <label for="inputNome">Descrição</label>
                        </div>
                        <div class="form-floating mb-3" style="display: none;">
                            <input type="text" class="form-control" name="id" th:value="${sala.id}">
                        </div>
                        <div class="form-floating mb-3">
                            <p id="erroeditSala" class="erro"></p>
                        </div>
                        <button class="w-100 btn btn-lg btn-success mb-3" type="submit">Atualizar</button>
                        <div class="w-100 btn btn-lg btn-primary" onclick="editarSala()">Voltar</div>
                    </form>
                </div>
            </div>
        </div>

        <div id="apagarSala" style="display: none;">
            <div class="col-12 row justify-content-center align-items-center vh-100">
                <div class="col-4">
                    <form class="p-4 p-md-5 border rounded-3 bg-light" th:action="@{/sala/apagarSala}"
                        modelAttribute="id" method="post">
                        <div class="row justify-content-center align-items-center mb-3">
                            <div class="col-auto">
                                <h5 th:text="'Você tem certeza que deseja apagar a sala ' + ${sala.nome} + '?'"></h5>
                                <p>Isso causará a exclusão de todos os equipamentos registrados ligados a esta sala.</p>
                            </div>
                            <hr>
                        </div>
                        <div class="form-floating mb-3" style="display: none;">
                            <input type="text" class="form-control" name="id" th:value="${sala.id}">
                        </div>
                        <button class="w-100 btn btn-lg btn-danger mb-3" type="submit">Apagar!</button>
                        <div class="w-100 btn btn-lg btn-primary" onclick="apagarSala()">Voltar</div>
                    </form>
                </div>
            </div>
        </div>

        <div id="apagarEquipamento" style="display: none;">
            <div class="col-12 row justify-content-center align-items-center vh-100">
                <div class="col-4">
                    <form class="p-4 p-md-5 border rounded-3 bg-light" th:action="@{/equipamento/apagarEquipamento}"
                        modelAttribute="id" method="post">
                        <div class="row justify-content-center align-items-center mb-3">
                            <div class="col-auto">
                                <h5 id="infoDeleteEq"
                                    th:text="'Você tem certeza que deseja apagar a sala ' + ${sala.nome} + '?'"></h5>
                            </div>
                            <hr>
                        </div>
                        <div class="form-floating mb-3" style="display: none;">
                            <input id="idDeleteEq" type="text" class="form-control" name="id">
                        </div>
                        <button class="w-100 btn btn-lg btn-danger mb-3" type="submit">Apagar!</button>
                        <div class="w-100 btn btn-lg btn-primary" onclick="displayAll()">Voltar</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>