<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações Sala -ADMIN</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <script th:inline="javascript">
        window.onload = function verificacao() {
            var id = /*[[${id}]]*/ "id";
            var erro = /*[[${erro}]]*/ "erro";

            if (erro != null) {
                document.getElementById("erroAdd").innerHTML = erro;
            }
        }
    </script>
    <style>
        .a {
            background-color: red;
        }

        .b {
            background-color: green;
        }

        .nav-item:hover {
            background-color: rgb(25, 41, 212);
        }

        .init {
            padding-top: 100px;
        }

        .equipamento {
            height: 60px;
            border: 1px solid black;
            border-radius: 6px;
        }

        .btn_option {
            width: 200px;
        }

        #disable_tela {
            background-color: rgba(0, 0, 0, 0.48);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: none;
        }

        .erro {
            color: red;
            size: 8px;
        }
    </style>

</head>

<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid ">
            <span class="navbar-brand mb-0 h1">Reserva de Equipamento</span>
            <div class="justify-content-end col-3">
                <ul class="navbar-nav row">
                    <li class="nav-item col-auto align-items-center">
                        <a class="nav-link active" aria-current="page" th:href="'http://localhost:8080/sala/pageSalas/' + ${id}">Salas</a>
                    </li>
                    <li class="nav-item col-auto">
                        <a class="nav-link active" aria-current="page" th:href="'http://localhost:8080/reserva/pageReservasUser/' + ${id}">Minhas Reservas</a>
                    </li>
                    <li class="nav-item col-auto">
                        <a class="nav-link active" aria-current="page" th:href="'http://localhost:8080/usuario/perfilUsuario/' + ${id}">Perfil</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4 init">
                <div style="text-align: center;">
                    <h2 th:text="${sala.nome}"></h2>
                    <hr>
                </div>
                <table>
                    <tr>
                        <td><b>Local:</b></td>
                        <td th:text="${sala.local}"></td>
                    </tr>
                    <tr>
                        <td><b>Andar:</b></td>
                        <td th:text="${sala.andar}"></td>
                    </tr>
                    <tr>
                        <td><b>Descrição:</b></td>
                        <td th:text="${sala.descricao}"></td>
                    </tr>
                    <tr>
                        <td style="width: 150px;"><b>Equipamentos:</b></td>
                        <td th:text="${equipamentos.size}"></td>
                    </tr>
                </table>
                <hr>
            </div>
            <div class="col-4 init">
                <div class="col-12">
                    <form th:action="@{/reserva/addReserva}"  method="post">
                        <div class="form-floating mb-3">
                            <input id="dataReserva" type="date" class="form-control" placeholder="Data da reserva" name="data">
                            <label for="dataReserva">Data da reserva</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="TimeInicial" type="time" class="form-control" placeholder="Hora de início" name="horaInicio">
                            <label for="inicioReserva">Hora de início</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="TimeFinal" type="time" class="form-control" placeholder="Hora de fim" name="horaFinal">
                            <label for="finalReserva">Hora de fim</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input id="QntEquipamentos" type="number" class="form-control" placeholder="Quantidade de equipamentos (max. 2)" name="qntEquipamentos">
                            <label for="qntEqReserva">Quantidade de equipamentos (max. 2)</label>
                        </div>
                        <div class="form-floating mb-3" style="display: none;">
                            <input type="text" class="form-control" name="id_sala" th:value="${sala.id}">
                        </div>
                        <div class="form-floating mb-3" style="display: none;">
                            <input type="text" class="form-control" name="id_usuario" th:value="${id}">
                        </div>
                        <div class="form-floating mb-3" style="text-align: center;">
                            <p id="erroAdd" class="erro"></p>
                        </div>
                        <button class="w-100 btn btn-lg btn-success mb-3" type="submit">Registrar reserva</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="disable_tela" style="display: none;">
        
    </div>
</body>

</html>