<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salas - ADMIN</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <script th:inline="javascript">

        function cancelarReserva(id){
            if (document.getElementById("disable_tela").style.display == "block" || id < 0) {
                document.getElementById("disable_tela").style.display = "none";
            } else {
                document.getElementById("idDeleteReserva").value = id;
                document.getElementById("disable_tela").style.display = "block";
            }
        }
    </script>

    <style>
        .a {
            background-color: red;
        }

        .b {
            background-color: green;
        }

        .init {
            padding-top: 20px;
        }

        .nav-item:hover {
            background-color: rgb(25, 41, 212);
        }

        td,
        th {
            text-align: center;
        }
        #disable_tela {
            background-color: rgba(0, 0, 0, 0.48);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    </style>
    </style>
</head>

<body>

    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid ">
            <span class="navbar-brand mb-0 h1">Reserva de Equipamento</span>
            <div class="justify-content-end col-3">
                <ul class="navbar-nav row">
                    <li class="nav-item col-auto align-items-center">
                        <a class="nav-link active" aria-current="page" th:href="'http://localhost:8080/sala/pageSalas/' + ${id}">Salas</a>
                    </li>
                    <li class="nav-item col-auto">
                        <a class="nav-link active" aria-current="page" th:href="'http://localhost:8080/reserva/pageReservasUser/' + ${id}">Minhas Reservas</a>
                    </li>
                    <li class="nav-item col-auto">
                        <a class="nav-link active" aria-current="page" th:href="'http://localhost:8080/usuario/perfilUsuario/' + ${id}">Perfil</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 init">
                <div style="text-align: center;">
                    <h2>Reservas cadastradas</h2>
                    <hr>
                </div>
                <div class="row justify-content-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Local da Sala</th>
                                <th scope="col">Nome da Sala</th>
                                <th scope="col">Andar</th>
                                <th scope="col">Data</th>
                                <th scope="col">Hora de inicio</th>
                                <th scope="col">Hora de fim</th>
                                <th scope="col">Código Equipamentos</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="r : ${reservas}">
                                <td th:text="${r.equipamentos[0].sala.local}"></td>
                                <td th:text="${r.equipamentos[0].sala.nome}"></td>
                                <td th:text="${r.equipamentos[0].sala.andar}"></td>
                                <td th:text="${r.data}"></td>
                                <td th:text="${r.horarioInicial}"></td>
                                <td th:text="${r.horarioFinal}"></td>
                                <td th:each="e: ${r.equipamentos}">
                                    <p th:text="${e.codigo}"></p>
                                </td>
                                <td><button class="btn btn-danger" th:onclick="'cancelarReserva(' + ${r.id} +')'">Cancelar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="disable_tela" style="display: none;">
        <div id="apagarReserva">
            <div class="col-12 row justify-content-center align-items-center vh-100">
                <div class="col-4">
                    <form class="p-4 p-md-5 border rounded-3 bg-light" th:action="@{/reserva/apagarReserva}" method="post">
                        <div class="row justify-content-center align-items-center mb-3">
                            <div class="col-auto" style="text-align: center;">
                                <h5>Você tem certeza que deseja apagar essa reserva?</h5>
                            </div>
                            <hr>
                        </div>
                        <div class="form-floating mb-3" style="display: none;">
                            <input type="text" class="form-control" name="id_usuario" th:value="${id}">
                        </div>
                        <div class="form-floating mb-3" style="display: none;">
                            <input id="idDeleteReserva" type="text" class="form-control" name="id_reserva">
                        </div>
                        <button class="w-100 btn btn-lg btn-danger mb-3" type="submit">Apagar!</button>
                        <div class="w-100 btn btn-lg btn-primary" onclick="cancelarReserva(-1)">Voltar</div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>